[2017-02-10 21:36] montanaflynn opened #4 "Avoid flash between dark and light"
Currently every page loads the dark header and then turns to light, causing a flash. It would be better if it could somehow avoid that.

[2017-02-10 21:37] DennisSnijder commented on #4
We are looking into this at the moment.
Thanks for reporting 👍

[2017-02-10 21:52] kinncj opened #5 "Chrome webstore app"
I'm publishing your app to the chrome webstore.
let me know if you are against it, so I can remove.

[2017-02-10 21:56] kinncj commented on #5
dealing in PVP.

[2017-02-10 21:56] #5 closed

[2017-02-10 22:40] kinncj commented on #5
https://chrome.google.com/webstore/detail/makegithubgreatagain/gpejlkhibgecggplgogpbgbdpnhogmhk

<img width="1334" alt="chrome_store_2" src="https://cloud.githubusercontent.com/assets/292542/22846913/fc499198-efb7-11e6-82b2-27f3af03a575.png">

[2017-02-10 23:03] wudifeixue opened #8 "Add the ability to switch between white and dark themes"
Hi again, I think it would be a pretty nice feature if we can switch the theme black and white by click on the extension icon.

[2017-02-10 23:12] renatomefi commented on #8
@wudifeixue Would be awesome if you could send a PR for that!

[2017-02-10 23:29] Daiz commented on #4
With the userscript version you can avoid the flash by adding `// @run-at document-start` to the metadata block. Tested to work at least with latest Chrome and TamperMonkey.

[2017-02-10 23:32] Daiz commented on #4
Also, the extra class removal will likely stop working [sooner rather than later](https://twitter.com/mdo/status/830149416556191744), so should make a copy of all the relevant styling now before it's gone.

[2017-02-10 23:52] andymckay opened #9 "Add to addons.mozilla.org?"
This extension works with absolutely zero changes in Firefox. Would be cool to make available to Firefox users too.

[2017-02-10 23:53] ryanml opened #10 "Gist"
Handy script, would be neat if it applied to gist.github.com as well, I may try to make this when I'm home shortly :)

[2017-02-10 23:53] obsidience opened #11 "I, for one, welcome our new black over-headers."
Oh, back to the issue.  It looks like someone sneezed on your camera lens.

Reproduce steps:
- Visit: https://github.com/DennisSnijder/MakeGithubGreatAgain
- Notice boogers all over the image.  Gnarly.

I'd produce logs but my deep machine learning neural net on booger detection is in it's infancy.  It keeps detecting a tree...

[2017-02-10 23:55] aleclarson commented on #4
Luckily, this doesn't happen when going from one Github url to the next.

[2017-02-11 00:08] #10 closed

[2017-02-11 00:10] DennisSnijder commented on #9
Thanks for suggestion this, I will take a look into this shortly.

[2017-02-11 00:12] Crecket commented on #8
I'll send a pull request in a bit, give me a few mins

[2017-02-11 00:15] DennisSnijder commented on #10
Thanks for mentioning. 👍

[2017-02-11 00:17] DennisSnijder commented on #4
@Daiz I will start looking into completely changing the styling instead of simply removing the class.

[2017-02-11 00:22] DennisSnijder commented on #11
Issue way too complex, crashed Gitlab servers.
Wontfix

[2017-02-11 00:40] Crecket commented on #8
#12

[2017-02-11 00:40] #8 closed

[2017-02-11 00:41] Daiz opened #13 "Define downloadURL and updateURL in userscript for auto-updating"
https://wiki.greasespot.net/Metadata_Block#.40downloadURL
https://wiki.greasespot.net/Metadata_Block#.40updateURL

Would probably also be a good idea to make a tag like `stable` and then point to the raw .user.js URL in said tag (eg. `https://github.com/DennisSnijder/MakeGithubGreatAgain/raw/stable/MakeGithubGreatAgain.user.js`) and then update the tag whenever making a new release and bumping the

[2017-02-11 00:49] DennisSnijder commented on #13
Feel free to create a PR for this.

[2017-02-11 01:54] kinncj commented on #5
@DennisSnijder would be nice if you generate new releases, so I can download the zip file straight from github and update the chrome webstore.

This would be nice for #9 also.

[2017-02-11 02:06] kinncj commented on #5
I'm tracking on my fork btw: https://github.com/kinncj/MakeGithubGreatAgain/releases/tag/v1.2.1

[2017-02-11 02:08] kinncj commented on #5
V1.2.1 will be updated in 60min
[code]

Contains up to https://github.com/DennisSnijder/MakeGithubGreatAgain/commit/eab0e6505672a8c0293799c4ac6f6c1d8699de0b

[2017-02-11 02:20] kinncj commented on #4
@DennisSnijder -> [Github Light v0.3.0.zip](https://github.com/DennisSnijder/MakeGithubGreatAgain/files/768173/Github.Light.v0.3.0.zip)

[2017-02-11 02:47] cnbeining commented on #4
My fault. @Daiz he made his point.

[2017-02-11 10:29] Crecket commented on #4
The flash is caused because the script first checks local storage if the extension is enabled or not most likely

[2017-02-11 11:11] patrykcieszkowski commented on #4
@Crecket if you're right, then I doubt there is any way to bypass this state.

[2017-02-11 11:22] LinusU opened #17 "Would love a Safari extension 🥂"
The javascript seems to work great in Safari as well, would be nice with a packaged extension :)

[2017-02-11 12:26] auduchinok commented on #17
@LinusU How do you load it in Safari? I've tried some extensions for that years ago, but can't remember which worked better.

[2017-02-11 12:32] Crecket commented on #4
I tried to disable the local storage check and it is definitely caused by this. Perhaps we can change it so it removes the class by default (which is pretty much unnoticeable) and only adds it back when the extension's 'enabled' option is set to false. #19

[2017-02-11 15:30] Crecket commented on #4
#21

[2017-02-11 22:46] #17 closed

[2017-02-11 22:47] DennisSnijder commented on #17
@auduchinok Make sure you have developer mode enabled in Safari.
After that go to the developer menu and open Extension builder.
Import the extension from the repository, install it and you are good to go! 👍

[2017-02-11 23:02] LinusU commented on #17
Amazing 😍

[2017-02-11 23:16] DennisSnijder commented on #9
@andymckay The firefox extension has been added to the GitHub repository.
The extension is in review @ addons.mozilla.org

[2017-02-11 23:17] #11 closed

[2017-02-11 23:17] #4 closed

[2017-02-11 23:47] jay commented on #9
Is there a URL page for the addon extension, and FYI two things that hopefully won't threadjack this..

- @mdo has [indicated](https://twitter.com/mdo/status/830149416556191744) on twitter he plans to remove the class at some point.

- You may want to check out my [CSS](https://gist.github.com/jay/e99fe4fe7e7bd4feaf5f237e15717133) overriding Segoe UI with Arial, since last year Segoe is apparently

[2017-02-12 05:46] cooper commented on #17
Is there any way to use it without having to "install" it every time I open Safari?
<img width="812" alt="screen shot 2017-02-12 at 12 45 36 am" src="https://cloud.githubusercontent.com/assets/323847/22859959/a3841262-f0bc-11e6-87c5-cbfec8c5a7e6.png">

[2017-02-12 06:28] ngyikp commented on #17
@cooper - The install dialog did say "Without a Safari Extensions Certificate, this extension will only be available until you quit Safari".

That certificate is part of the Apple Developer Program and costs USD99 per year. Alternatively, someone that is already enrolled could sign and distribute a `.safariextz` for everyone to use.

[2017-02-12 13:38] DennisSnijder commented on #9
@jay We are aware of the Github changes and we are looking into solving this.

I just added the FireFox link to the README.MD file
https://addons.mozilla.org/firefox/addon/githubgreatagain/

Thanks for the suggestions 👍

[2017-02-12 13:38] #9 closed

[2017-02-12 16:35] GuardRex opened #26 "Read my browsing history?"
![capture](https://cloud.githubusercontent.com/assets/1622880/22864020/0a5f680e-f10f-11e6-8143-a17d79bbc848.PNG)

Why does the extension need to read the user's browsing history?

[2017-02-12 16:37] DennisSnijder commented on #26
On an older version we accidently requested for browser history permissions.
If you look trough the code in the repository nothing is being read from your browser history. Soon there will be an chrome extension update.

[2017-02-12 16:37] #26 closed

[2017-02-12 23:25] svnpenn opened #27 "CSS solution"
Since @mdo has completely [lost the plot][q]:

It might be a good idea to implement a CSS solution, as the JavaScript solution
is likely to break. Here is one I came up with:

http://github.com/svnpenn/dotfiles/blob/cf47bf9/stylish/github.css#L2-L32

[q]://twitter.com/mdo/status/830149416556191744

[2017-02-13 01:44] ayazhafiz commented on #17
Here's a signed one! Enjoy!
(zipped b/c Github won't let me upload .safariextz in issues 😢 )
[MakeGithubGreatAgain.safariextz.zip](https://github.com/DennisSnijder/MakeGithubGreatAgain/files/769869/MakeGithubGreatAgain.safariextz.zip)

[2017-02-13 04:33] adamschwartz commented on #27
I believe that’s missing a few things, e.g. input placeholder colors:

[code]

Once they drop `.header-dark` use this:

[code]

[2017-02-13 04:39] svnpenn commented on #27
@adamschwartz thanks for the input, but I wasnt really speaking to the specific CSS rules, rather that CSS be used over JavaScript to prevent future breakage

[2017-02-13 13:54] audiolion opened #28 "New release to chrome store"
Hey could you push the 1.3.0 release to the chrome store? My body is ready for teh faster switching 😋

[2017-02-13 14:30] DennisSnijder commented on #28
Yes, will do that in a bit. Thanks for reminding me 👍

[2017-02-13 14:48] kinncj commented on #28
Your item is in the process of being published and may take up to 60 minutes to appear in the Chrome Web Store.

Thanks.

[2017-02-13 15:37] vaygr commented on #28
Just letting you know that new release `1.3.0` has just made toolbar button disappear and also made the extension dysfunctional on Vivaldi `1.7 stable channel` under Linux.

Version `1.2.1` worked fine (but with flickering issue).

[2017-02-13 17:15] kinncj commented on #28
![kapture 2017-02-13 at 12 14 45](https://cloud.githubusercontent.com/assets/292542/22894168/133f0af6-f1e6-11e6-952d-aee121f272fc.gif)

Are you using the chrome-store version?

1. If yes
    1. What chrome version?
2. If not
    1. This is due to the 2 manifest files
        1. https://github.com/DennisSnijder/MakeGithubGreatAgain/blob/master/FireFox/manifest.json
        2. https://github.com/Den

[2017-02-13 17:23] vaygr commented on #28
Yeah, chrome-store version, which got updated just an hour ago.

Vivaldi `1.7.735.46` uses Chrome `56.0.2924.88`.

[2017-02-13 17:32] vaygr commented on #28
Hmm, sounds like a false alarm guys.

The button has been actually moved into address bar with "turned off" mode by default. I re-enabled it, and now everything seems to be fine.

![shot-2017-02-13_1384](https://cloud.githubusercontent.com/assets/8810597/22894841/71d0a3de-f1e8-11e6-8787-0a7e071e5817.png)

[2017-02-13 20:01] acz13 opened #29 "@run-at document-start doesn't work on firefox for greasemonkey userscript"
`document-end` does work though

[2017-02-13 20:04] danbovey opened #30 "Broadcasting to the content scripts"
Hey

Just something that might be helpful towards this comment:

   // content scripts, so just broadcast the message to every tab
   // and rely on Chrome's manifest permission to restrict

You can totally do this with the `chrome.runtime` API 🎉

https://developer.chrome.com/extensions/runtime#method-sendMessage

[2017-02-13 21:12] DennisSnijder opened #31 "header-dark removing no long works"
Github just updated the `header-dark` class to be the default header class.
We need to overwrite the existing CSS class to get the extension working again.

[2017-02-13 21:13] KeizerDev commented on #31
Check #27

[2017-02-13 21:18] KeizerDev commented on #27
@adamschwartz
A smaller version here:
[code]

[2017-02-13 21:47] DennisSnijder commented on #31
Added a fix
https://github.com/DennisSnijder/MakeGithubGreatAgain/commit/59cfa7ebef993d0458855ab638de341c9a4844f4

Needs some testing / improvements.

[2017-02-13 21:47] #31 closed

[2017-02-13 21:54] #28 closed

[2017-02-13 21:57] DennisSnijder commented on #27
CSS is now being overwritten since Github removed the "header-dark" class.
Thanks for the classes all 💯

[2017-02-13 21:57] #27 closed

[2017-02-13 22:03] DennisSnijder opened #32 "New CSS overwriting for both Safari and Firefox extension"
As Github changed the "dark-header" class.
The Firefox and Safari extensions are broken.

This needs to be fixed.

[2017-02-13 22:13] xeno-by commented on #32
Doesn't work for me on Chrome either.

[2017-02-13 22:14] DennisSnijder commented on #32
@xeno-by Try the new version on the master branch.
Update will be published ASAP to the chrome extension store.

[2017-02-13 22:16] xeno-by commented on #32
@DennisSnijder I can confirm this working for me. Thank you!

[2017-02-13 22:16] DennisSnijder commented on #32
@xeno-by Thanks for testing 👍
Updated it couple if minutes ago.

[2017-02-13 22:22] delneg commented on #32
Confirmed, updated from master and it working now.
That black glow of death freaked me out for several minutes though.

[2017-02-13 22:26] fabricionaweb commented on #32
@DennisSnijder, I was preparing a PR when you updated hehe
That would be my CSS, take some improvements.

[code]

[2017-02-13 22:27] DennisSnijder commented on #32
@fabricionaweb Looks good! Feel free to create a Pull Request for that as there are some improvements indeed!

[2017-02-13 22:40] Wakeupbuddy commented on #31
Thanks. Please let us know when the new version is pushed to the chrome store.

[2017-02-13 23:52] ajayyy commented on #32
Is the chrome webstore version gonna be updated?

[2017-02-14 00:01] kinncj commented on #32
Someone mentioned chrome?
[code]

:-)

[2017-02-14 00:02] kinncj commented on #31
https://github.com/DennisSnijder/MakeGithubGreatAgain/issues/32#issuecomment-279564015

[2017-02-14 00:42] vaygr opened #33 "White text at unfocused search bar in repository scope"
Looks like `div.header-search-scope` also forces `255, 255, 255` for text color.

![shot-2017-02-13_4750](https://cloud.githubusercontent.com/assets/8810597/22909796/3baf327a-f224-11e6-83fd-49198796a4a4.png)

Focused mode is fine though:

![shot-2017-02-13_27868](https://cloud.githubusercontent.com/assets/8810597/22909850/7babcb72-f224-11e6-8f9e-42860204999b.png)

[2017-02-14 01:15] RoyalMjz commented on #33
I have also encountered the same problem

[2017-02-14 01:42] simsketch opened #34 "Looks like Github broke it"
I see the header-dark class toggling, but it looks like they've put the styles into the header class and removed the header-dark class altogether.

[2017-02-14 02:38] evecalm commented on #32
Why not concat github via [Get Help with GitHub](https://github.com/contact) and complain about it? Let those guys know about it.

[2017-02-14 02:45] svnpenn commented on #34
https://github.com/DennisSnijder/MakeGithubGreatAgain/issues/27

[2017-02-14 02:49] svnpenn commented on #32
https://github.com/DennisSnijder/MakeGithubGreatAgain/issues/34

[2017-02-14 02:49] svnpenn commented on #31
https://github.com/DennisSnijder/MakeGithubGreatAgain/issues/34

[2017-02-14 02:50] svnpenn commented on #34
https://github.com/DennisSnijder/MakeGithubGreatAgain/issues/32

[2017-02-14 02:50] svnpenn commented on #27
https://github.com/DennisSnijder/MakeGithubGreatAgain/issues/32

[2017-02-14 02:50] svnpenn commented on #34
https://github.com/DennisSnijder/MakeGithubGreatAgain/issues/31

[2017-02-14 02:50] svnpenn commented on #32
https://github.com/DennisSnijder/MakeGithubGreatAgain/issues/31

[2017-02-14 02:50] svnpenn commented on #27
https://github.com/DennisSnijder/MakeGithubGreatAgain/issues/31

[2017-02-14 02:51] svnpenn commented on #32
https://github.com/DennisSnijder/MakeGithubGreatAgain/issues/27

[2017-02-14 02:53] LaoDaGe opened #35 "Black Lives Matter！"
# Only Black Lives Matter！ :black_flag:  :black_heart:

[2017-02-14 02:56] svnpenn commented on #32
@evecalm because they dont give a fuck?

- http://github.com/jch/html-pipeline/issues/192#issuecomment-248880171
- http://github.com/jch/html-pipeline/issues/192#issuecomment-148565499

[2017-02-14 03:10] evecalm commented on #32
They just replied. It's "official".

[2017-02-14 03:33] lockys opened #36 ".header-search-scope does not work now."
seems the original style override it.
![screenshot from 2017-02-14 11 29 52](https://cloud.githubusercontent.com/assets/3911469/22914007/285010b6-f2a9-11e6-9edf-f7b4fcd8a2ff.png)

[2017-02-14 03:43] Viltaria commented on #34
They are evolving...

[2017-02-14 03:54] svnpenn commented on #34
@Viltaria yes, they are working very hard to fix stuff that wasnt broken

[2017-02-14 04:27] Andrews54757 commented on #36
[code]

[2017-02-14 04:30] Andrews54757 commented on #36
@DennisSnijder? Also, I have the original CSS (I knew GitHub was gonna change the css due to a tweet).

[2017-02-14 06:01] #35 closed

[2017-02-14 06:02] DennisSnijder commented on #36
Thats great! Thanks :)

[2017-02-14 06:30] LaoDaGe commented on #35
Why closed this?

[2017-02-14 06:49] DennisSnijder commented on #35
I closed this because this is no valid issue.

[2017-02-14 07:47] Andrew-Dunn opened #37 "Make toggle button optional"
It isn't necessary for the button to be visible 100% of the time. Please either remove it altogether, or make it optional.

[2017-02-14 10:50] OldManLink commented on #34
Yep, a simple `git pull` fixed it again, thanks guys! 😎

[2017-02-14 11:24] lacivert commented on #37
👍

[2017-02-14 11:56] #34 closed

[2017-02-14 15:57] SilverBut commented on #37
Just drag it into the menu if you're using Chrome.

[2017-02-14 18:12] #36 closed

[2017-02-14 18:24] #37 closed

[2017-02-14 18:25] DennisSnijder commented on #33
Fixed by #38

[2017-02-14 18:25] #33 closed

[2017-02-14 19:01] luckyuro opened #39 "make a new repo, MakeStackoverflowGreatAgain"
stackoverflow changed from black to white, make it great again!

[2017-02-14 19:24] Viltaria commented on #39
I kinda like it

[2017-02-14 19:27] DennisSnijder commented on #39
@zanchor @Viltaria
Just created a new repository for this (Its still empty)
If any of you guys can help me out finding the old header its css it would be really appreciated.

https://github.com/DennisSnijder/MakeStackoverflowGreatAgain

[2017-02-14 19:28] jackwilsdon commented on #39
It looks like they've made some HTML changes too, as well as possibly some JS. It looks like the other Stack Exchange sites still use the old header: http://superuser.com/

[2017-02-14 19:29] DennisSnijder commented on #39
@jackwilsdon This one is a little harder yes.
Feel free to open an issue in the new repository containing some suggestions on how to approach this.

[2017-02-14 20:48] theobouwman opened #40 "Style issue with search in Repo"
<img width="1023" alt="schermafbeelding 2017-02-14 om 21 46 47" src="https://cloud.githubusercontent.com/assets/16098190/22948550/3d70df38-f2ff-11e6-9ca3-76374cbe5957.png">

Element's style left of the input box is broken.

[2017-02-14 20:49] jackwilsdon commented on #40
Does #38 not fix this? Duplicate of #36 too.

[2017-02-14 20:50] #40 closed

[2017-02-14 20:54] simsketch commented on #34
Wow that really is a `.great-header`! :sunglasses:

[2017-02-15 03:06] iTofu opened #41 "Enhancement wanted"
See this screenshot:
![4a475a43-7616-4b33-b1e6-b722a5450bfe](https://cloud.githubusercontent.com/assets/10044430/22959121/a5cce9f4-f36e-11e6-9386-d4f9690ce7f0.png)

[2017-02-15 06:00] maliming commented on #41
+1

[2017-02-15 09:28] 29jitender commented on #41
+1

[2017-02-15 10:46] palerdot opened #42 "Add focus class to "This repository" label"
Currently, "This repository" label is blank and white. It is not the default blue bootstrap theme color. When inspected, the label element was missing the **focus** class.

Attached screenshot. At the top left, you can the see the white label without focus.

![missing-focus-class](https://cloud.githubusercontent.com/assets/4299398/22970964/1496f46c-f39a-11e6-9f0a-60c99f847df8.png)

[2017-02-15 11:50] vaygr commented on #42
This should be fixed by https://github.com/DennisSnijder/MakeGithubGreatAgain/pull/38, but new version hasn't been pushed to chrome store yet. @DennisSnijder ?

[2017-02-15 11:52] vaygr commented on #41
Same here, it should be fixed by https://github.com/DennisSnijder/MakeGithubGreatAgain/pull/38, but the version in chrome store is outdated. @DennisSnijder should fix that shortly I assume, but for now you can try manual installation as described on the front page cloning repo from master.

[2017-02-15 12:09] getsmp opened #43 "Move Chromium extension source to Chromium folder for consistency"
Hello! There are already separate folders for Firefox and userscripts. Would be nice to make one for the original source code too.

[2017-02-15 13:27] iTofu commented on #41
@vaygr
Ye, I see, thank you guy 👍

[2017-02-15 13:27] #41 closed

[2017-02-16 02:39] nbolt opened #44 "Github broke extension again"
Looks like the black bar is back :confused:

[2017-02-16 02:40] jackwilsdon commented on #44
It seems to be working fine for me?

[2017-02-16 02:40] mscdex commented on #44
I was just about to post this.... it looks like they're now nesting the header. The selector should now be something like `body > div > .header`

[2017-02-16 03:08] Andrews54757 commented on #44
Its body > div > .header

[2017-02-16 03:10] jackwilsdon commented on #44
Would it not be better just making it `.header`, effectively future proofing this from changes in the HTML layout?

[2017-02-16 03:10] Andrews54757 commented on #44
No. It is not a good practice.

[2017-02-16 03:11] Andrews54757 commented on #44
However, I think this needs an auto-update system so it will be "unbreakable"

[2017-02-16 03:11] nbolt commented on #44
Perhaps an extension option to customize the selector?

[2017-02-16 03:12] jackwilsdon commented on #44
I'd say that absolutely referencing the element is not a good practice, as it's better to have ["modular" CSS](http://thesassway.com/intermediate/avoid-nested-selectors-for-more-modular-css) and nothing else on the page has the `.header` class.

[2017-02-16 03:13] Andrews54757 commented on #44
Or, an auto-update system could be used.

[2017-02-16 03:14] jackwilsdon commented on #44
How would that work exactly? The only way you can reliable detect the header is by using the `.header` class (or other classes pertaining to the header), so I don't see why we don't just go for `.header` on it's own.

[2017-02-16 03:15] Andrews54757 commented on #44
https://developer.chrome.com/extensions/autoupdate

[2017-02-16 03:15] jackwilsdon commented on #44
And this extension is published using the dashboard, so I don't see what your point is?

[2017-02-16 03:16] Andrews54757 commented on #44
Yeah, thats true. I forgot

[2017-02-16 03:18] Andrews54757 commented on #44
Maybe another method to access .header should be used. GitHub could patch the extension by just renaming the class. However, certain things about the header are constant, they dont change.

[2017-02-16 03:19] jackwilsdon commented on #44
I doubt they'll rename the `.header` class, it's a sensible name for it. They've kept it when doing the styling changes so I don't see why they'd change it again. I guess you could look it up by it's `banner` role too.

[2017-02-16 03:20] Andrews54757 commented on #44
Mark Otto seems to be feisty about it though. (https://twitter.com/mdo/status/830138373230653440)

[2017-02-16 03:21] jackwilsdon commented on #44
Yeah I get that, but the current class is sensible and hasn't changed even with all of the changes they've implemented.

[2017-02-16 03:24] Andrews54757 commented on #44
Okay. Also, maybe this project should port to stylus (https://chrome.google.com/webstore/detail/stylus/clngdbkpkpeebahjckkjfobafhncgmne). This is because GitHub is going to change more stuff that we might not like, and it would be harder for this project if it is a standalone extension.

[2017-02-16 03:24] Andrews54757 commented on #44
https://github.com/StylishThemes/GitHub-Dark uses it

[2017-02-16 07:30] DennisSnijder commented on #44
Fixed now, chrome extension store update coming soon!

[2017-02-16 07:30] #44 closed

[2017-02-16 07:31] DennisSnijder commented on #42
This has been fixed, just do a git pull 👍
Soon will be published into the chrome extension store.

[2017-02-16 07:31] #42 closed

[2017-02-16 10:41] palerdot commented on #42
For some reason, the extension has completely stopped working for me. I'm seeing only the dark header now.

[2017-02-16 12:30] jackwilsdon commented on #42
#44 + #45 I think, maybe not pushed to store yet.

[2017-02-16 16:07] alexweber opened #46 "Missed pun opportunity"
There's a straight-forward one here that can be made referencing the classic header color: "Make Github _Gray_ Again"

Just saying... :)

[2017-02-17 02:43] svnpenn commented on #39
http://meta.stackoverflow.com/a/343106

[2017-02-17 02:52] svnpenn commented on #39
https://github.com/DennisSnijder/MakeStackoverflowGreatAgain/issues/1

[2017-02-17 03:28] studiotang opened #47 "I think black background better"
See title

[2017-02-17 05:03] TheodoreKrypton opened #48 "The header will firstly become black and then turn to white."
It will be better if the original css file can be blocked.

[2017-02-17 12:23] getsmp commented on #48
Look at #4

[2017-02-17 21:53] Andrews54757 commented on #4
@DennisSnijder I discovered something, when I ported your extension's css to stylus, this didn't happen. It didn't flash.

stylus: https://chrome.google.com/webstore/detail/stylus/clngdbkpkpeebahjckkjfobafhncgmne/related

 Css I used:

[code]

[2017-02-18 08:33] babobski commented on #48
@TheodoreKrypton or you can use a different approach.
For Firefox, Chrome, Safari and Opera there is a stylish addon available, this addon you can write custom css for any web-address. If you use this approach you will not have any flashing.
Made a [Gist](https://gist.github.com/babobski/41b29114a3c774bd018f75bd4fffc872) that will revert the black bar, you can tweak it to you're likings.

The styl

[2017-02-18 12:21] rbeer commented on #46
Why not go the full mile? "Make GitHub Grayt Again"

[2017-02-18 14:16] vaygr commented on #29
yeah, I can confirm that; tested on Pale Moon.

for now I've used `DOMContentLoaded` event handler, which is equivalent of `document-end` in GM.

[2017-02-22 06:35] welkie commented on #47
I agree. It bothered me for a few days but then I realized the black only appears when you're logged in. It makes a lot of sense now.

[2017-02-22 08:07] nhooyr commented on #48
@babobski with that css, the links are not highlighted when you over them. I tried to add some css for styling the links

I'm using the following css (I took it from this repo and replaced all `.great-header` selectors with `.header`

[code]

[2017-02-22 08:21] nhooyr commented on #48
@babobski with that css, some links aren't highlighted properly.

![screen shot 2017-02-22 at 3 19 45 am](https://cloud.githubusercontent.com/assets/10180857/23202841/f04a548c-f8ad-11e6-96f6-eeb5fb79b234.png)

I'm using the following css (I took it from this repo and replaced all `.great-header` selectors with `.header`

[code]

[2017-02-23 17:50] babobski commented on #48
@nhooyr thanks for the pointer, I will have a look this weekend. Also noticed it is not perfect jet.

[2017-02-24 06:56] babobski commented on #48
Updated the css, so the menu links are styled correct.

[2017-03-01 16:35] voronianski opened #49 "Save the colors!!!"
I think you need to save us from new github colors! Especially links!

[2017-03-01 17:13] deepsweet commented on #49
https://mobile.twitter.com/djspiewak/status/836985679854845952

[2017-03-02 05:08] ricordisamoa commented on #49
https://github.com/ricordisamoa/MakeGithubPaleAgain

[2017-03-02 09:00] sedders123 commented on #49
Found the old link colour from a stale tab #4078c0

[2017-03-02 09:22] sedders123 commented on #49
And the css for the private label
[code]

[2017-03-02 09:29] ricordisamoa commented on #49
I am sorry that my comment has been dumped like it were spam. I was just linking to a small repository where I collected several of the old colors like the ones mentioned above, therefore I presumed that could have solved this issue (even if not in this repository). I apologize.

[2017-03-02 11:45] maximilianhurl commented on #49
The new green buttons are particularly upsetting on my monitor. Here's the old CSS for reference:

    /* Green primary button */
    .btn-primary {
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
        background-color: #6cc644;
        background-image: -webkit-linear-gradient(#91dd70, #55ae2e);
        background-image: linear-gradient(#91dd70, #55ae2e);
        border: 1

[2017-03-02 16:20] rightfold commented on #49
Because the current software only applies to the header color, there should be a setting so that you can select which changes to apply. I like the old header with the new colors, for example.

[2017-03-02 19:50] thieman commented on #49
@rightfold this half-effort appeasing attitude is completely against the stated goal of the project to make github GREAT again, just like it was in the 1950s

[2017-03-03 04:02] svnpenn commented on #49
Here is a reverse diff, with the old good colors in green, and the new bad
colors in red:

http://github.com/svnpenn/dotfiles/blob/f8fe891/stylish/save-the-colors.diff

[2017-03-03 10:36] DennisSnijder commented on #49
We need to make the colors great again!
Feel free to shoot in a PR 👍

[2017-03-03 14:22] miyaoka commented on #49
http://web.archive.org/web/*/github.com

![2008](https://cloud.githubusercontent.com/assets/1443118/23554202/6df669c8-0067-11e7-9950-5239ff3165ef.png)
![2013](https://cloud.githubusercontent.com/assets/1443118/23554206/727c7e60-0067-11e7-9133-6ed284c6143e.png)
![2014](https://cloud.githubusercontent.com/assets/1443118/23554347/092be044-0068-11e7-8f0f-26908c3720a2.png)

We should support github GRE

[2017-03-04 05:38] svnpenn commented on #49
https://github.com/DennisSnijder/MakeGithubGreatAgain/pull/50

[2017-03-13 20:38] nhooyr commented on #48
I also made a style to make it easy to install.

https://userstyles.org/styles/140093/make-github-great-again

[2017-03-14 03:06] joeytwiddle commented on #49
Just found this extension: [github-old-colors](https://chrome.google.com/webstore/detail/github-old-colors/njodkcccjccenllcjfpomnokbkigpcii)

So far it only changes links back to the old blue, and removes some shadows and background images from buttons. It doesn't restore the header bar at all!

It uses a whitelist for links, which might be less problematic than the blacklist in my PR. This is an

[2017-03-14 03:25] svnpenn commented on #49
@joeytwiddle i dont get why your pull has both save-the-colors.css and links.css

[2017-03-14 09:58] joeytwiddle commented on #49
@svnpenn In my Chrome, our custom styles are injected before the page styles load. As a result, the page's `a` rule overrides the `a` rule in save-the-colors.css

![page_styles_mask_injected](https://cloud.githubusercontent.com/assets/911799/23894988/2aaf0820-08df-11e7-8403-9d31b6ddfd17.png)

That's why I took tombola's script for styling the links (and for the toggling behaviour).

For sure, the

[2017-03-22 09:33] joeytwiddle commented on #49
On Firefox, I'm giving these a try:

- https://userstyles.org/styles/138766/github-return-light-themed-header
- https://userstyles.org/styles/139586/github-softer-blue-color

They don't restore the old greens and purples. But they do restore the old white header and many of the blue links.

[2017-05-10 14:19] emctague opened #53 "Header formatting in your README is messed up (probably)"
Unless headers-that-aren't-headers is the new style trend or something, *this* probably isn't what you were going for...

![spectacle xf5185](https://cloud.githubusercontent.com/assets/22970065/25903307/0c3a5b58-356a-11e7-93c4-e3b022b1d7a9.png)

All you need is a good ol' space between your `#`s and your header text, and it should be just fine.

[2017-05-30 15:20] #53 closed

[2017-07-05 07:51] DennisSnijder commented on #49
Fixed by #51

[2017-07-05 07:51] #49 closed

[2017-07-11 13:01] sepehr opened #55 "Does not seem to be working on trending pages"
Here's an example:
https://github.com/trending/php

![2017-07-11 at 5 31 08 pm](https://user-images.githubusercontent.com/23576/28069455-cd3fbf4e-665e-11e7-85b7-c20d11b7c679.jpg)

[2017-07-19 20:46] ajayyy commented on #39
https://userstyles.org/styles/139013/stackoverflow-old-dark-themed-header

[2017-07-21 01:24] Viltaria opened #56 "Colors are weird"
Looks like Github changed their styling

[2017-07-21 01:25] Viltaria commented on #56
https://gyazo.com/1e1c1f8302f5c732f99c99bc36fc7c5c

[2017-07-21 04:29] bntzio commented on #56
Yeah this is happening to me as well, looks like Github changed its css.

[2017-07-21 04:50] bntzio commented on #56
Just dropped in a pull request to fix this (#57) 👍 @Viltaria @DennisSnijder

[2017-07-21 09:40] Viltaria commented on #56
The hero we need! @bntzio

[2017-07-21 23:41] ajayyy commented on #48
@nhooyr your script broke

[2017-07-21 23:50] ajayyy commented on #48
Fixed plugin:

https://userstyles.org/styles/145543/make-github-great-again-2-0

[2017-07-22 00:09] nhooyr commented on #48
Yea, I haven't been maintaining it because Github lowered the saturation of the black so it doesn't look as bad anymore for me. Glad you fixed it :)

[2017-07-27 04:03] bntzio commented on #56
If someone needs to fix the issue before @DennisSnijder do the merge you guys can download my fork and go to `chrome://extensions` then click *Load unpacked extension* and select the fork folder.

Here's the fork 👉 https://github.com/bntzio/MakeGithubGreatAgain

[2017-07-27 08:32] PuKoren commented on #56
Thanks @bntzio it is working fine. However I have a small display issue on the Pull Request/Issues views:

![pull requests](https://user-images.githubusercontent.com/4202557/28661411-cf82ce18-72b6-11e7-879d-df8f6dfab430.png)

As you can see its not very readable. Maybe something else changed with the latest GitHub update?

[2017-07-27 08:37] bntzio commented on #56
@PuKoren Are you using some chrome extension to change the GitHub layout apart from `MakeGithubGreatAgain`?

I can see a **ToDo** link in the screenshot. Maybe that's the styling conflict.

[2017-07-27 10:07] PuKoren commented on #56
True, I use ZenHub. I just tried to disable it and still see the white color when on Pull Requests / Issues views.

You don't have the same issue?

[2017-07-27 10:13] bntzio commented on #56
Nope, have u tried closing your browser and re-opening? or maybe delete the cache

[2017-07-27 12:31] PuKoren commented on #56
Ok then I guess you are right, thanks

[2017-07-27 15:29] bntzio commented on #56
I suggest you download [Chrome Canary](https://www.google.com/chrome/browser/canary.html), install the extension manually again and go to https://github.com again to see if it solves the issue, if yes, then there's a conflicting extension messing with `MakeGithubGreatAgain` in your normal Chrome browser.

[2017-08-02 12:06] joeytwiddle opened #59 "Appoint a new director of mergifications"
Often Github's changes to CSS can break extensions like this one, but sometimes contributors will come out with a fix pretty soon.

It would be great to have someone who could quickly merge these kinds of fixes, so that users don't suffer a period of lost functionality.

However I appreciate it might be a little bit complicated, because the extension would also need to be pushed up to the Chrome W

[2017-08-08 12:04] DennisSnijder commented on #59
hey @joeytwiddle I already mailed you a while ago about the opportunity for you to become a maintainer, also back when i released the chrome plugin someone else hosted it for me.. (Pretty hard to reach him)

[2017-08-08 13:28] kinncj commented on #59
Not hard at all, as long as you do reach me :-)

[2017-08-09 08:20] DennisSnijder commented on #59
@kinncj Awesome! Didn't know that was you :)

[2017-08-09 11:34] kinncj commented on #59
:-)

[2017-08-13 18:27] joeytwiddle commented on #59
Ah so you did! Sorry I missed it. Will be in touch...

[2017-08-22 17:28] alxhotel opened #61 "Github broke extension again"
The black bar is back... Again...

[2017-08-22 18:47] sepehr commented on #61
![FTS](https://i.giphy.com/2JiV5KBXRfdcI.gif)

[2017-08-22 19:07] thieman commented on #61
![](http://4.bp.blogspot.com/-vLOAoksNY1Q/URFUvHAoV6I/AAAAAAAAJXE/ebJVVqBVqKE/s1600/not-like-this.gif)

[2017-08-22 23:24] bntzio commented on #61
@alxhotel @sepehr @thieman I just released an up-to-date Chrome extension to get back the classic GitHub look, you can check out the repo [here](https://github.com/bntzio/github-classic) (feel free to submit pull requests)

The thing is, GitHub is constantly changing their CSS, and so the extensions break, last time that happened I submitted a PR to this repo to fix the issue but seems that Dennis

[2017-08-23 08:47] sepehr commented on #61
Works like a charm! Thank you so much, @bntzio.

[2017-08-28 22:44] #61 closed

[2017-08-29 08:44] #59 closed

[2017-08-29 08:50] #13 closed

[2017-08-29 08:50] #29 closed

[2017-08-29 08:50] #46 closed

[2017-08-29 08:51] DennisSnijder commented on #56
Should be fixed now thanks to #62

[2017-08-29 08:51] #56 closed

[2017-08-29 15:34] kinncj opened #63 "manifest.json doesn't follow the release version"
`MakeGithubGreatAgain` got bumped to `2.0.1` but the `manifest.json` still on `1.5.1`

[2017-10-12 14:42] joeytwiddle commented on #55
That page looks fine for me today. Does this issue look resolved to you @sepehr?

[2017-10-12 21:55] sepehr commented on #55
I can't say, @joeytwiddle, as I no longer use this plugin.

[2017-11-02 12:50] DennisSnijder commented on #63
Ah thanks!, let me fix that!

[2017-11-07 21:03] adriaanvanrossum commented on #47
It (now) has a dark background when you're not logged in:

![image](https://user-images.githubusercontent.com/1079135/32517615-f0f70aea-c3d4-11e7-8df3-8ad9630c0f23.png)

It doesn't bother me anyhow.

[2017-11-07 21:19] adriaanvanrossum commented on #32
[Saiya](https://github.com/evecalm) wrote:

I would love to go on a vacation with you!  🏖

[2018-01-01 08:17] AnishGDev commented on #17
Yeah I have a similar problem. Since I don't have a Apple Developer account I can't package my safari extension, Procrastube.

Would be great if you could help out @ayazhafiz

[2018-05-21 11:52] joeytwiddle opened #67 "Put the list of repos back on the right again?"
Recently, the box on the dashboard containing the list of your repos has moved from the right of the page to the left of the page.

Things being as they are these days, I am not really against things moving from the right to the left.

But if enough people are bothered by this, I don't mind adding a `float: right` to restore things back how they were in 2016.

:+1: = move those repos back over to

[2018-05-21 14:01] MattRyder commented on #67
Yeah, +1 for this.

The one thing that annoys me, isn't the left-alignment, but the fact that it's gone from discrete rows with the pale yellow 'private tint' to a mis-mashed list.

But rolling it all back would be welcomed.
I'd offer to help but I do back-end mostly, I'd end up making it all much, much worse.

[2018-08-17 07:30] joeytwiddle commented on #67
I was thinking to add this fix if it got 5 upvotes. (It's only actually a tiny bit of CSS.) It looks like it's been done in the open PR actually.

But there might be a problem on the horizon. GitHub has a new "dashboard" feature, currently in beta testing, which had a left and a right sidebar. (I found I could opt in from the [front page](https://github.com/).)

If that layout becomes the default

[2019-03-22 15:04] CupOfTea696 opened #70 "Create new button is white"
The "Create new" button in the header is white when using the grey header.

[2019-05-17 07:02] #67 closed

[2019-06-04 13:28] #70 closed

[2019-08-13 05:31] #63 closed

[2020-06-24 09:05] joeytwiddle opened #73 "Well damn"

[2022-10-14 00:49] airtonix opened #74 "This repo gave me epilepsy"